#mancala-game {
    /* border: 1px solid #ccc; */
    min-width: 820px;
    font-size: 1rem;
    color: #000;
    clear: both;
}
.holding-area {
    clear: both;
    height: 150px;
}
.pit-container {
    float: left;
}
ul {
    height: 100px;
    padding: 0;
    margin: 0;
    /* display: inline; */
}
.player0.info, .player1.info{
    height: 150px;
    margin: 3px;
}
.message {

    height: 100%;
    display: inline-block;
    float: left;
}
.holding-area {

    height: 100%;
    display: inline-block;
}
.label {
    display: block;
    clear: both;
}
.label div {
    height: 50px;
    font-size: 2rem;
}
.info > div {
    width: calc(50% - 6px);
}
