#mancala-game {
    /* border: 1px solid #ccc; */
    /* min-width: 820px; */
    font-size: 1rem;
    color: #000;
}
.pit-container {
    float: left;
}
ul {
    height: 100px;
    padding: 0;
    margin: 0;
    /* display: inline; */
}
.player0 {
    background-color: #ccffcc;
}
.player1 {
    background-color: #99ddff;
}
