.pit {
    /* width: 100px;
    height: 100px; */
    float: left;
    list-style: none;
}
.pit > div  { 
    height: 100px;
    width: 100px;
}
.store > div {
    height: 208px;
    width: 100px;
}
.pit > div, .store > div { 
    word-wrap: break-word;
    font-size: 3rem;
    border: 1px solid #ccc;
    margin: 3px;
}
.pit div span, .store span {
    font-size: 1rem;
    display: inline-block;
    position: relative;
    bottom: 22px;
    width: 100%;
}
.store div span {
    bottom: -42px;
}
.player0 > div {
    background-color: #ccffcc;
}
.player1 > div{
    background-color: #99ddff;
}
